* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.header-container {
  height: 100px;
  background-color: #040463;
}

.main-container {
  height: 800px;
  background-color: #e0d978;
}

.footer-container {
  height: 200px;
  background-color: #040463;
}

nav {
  height: 100%;
}

.main-menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.main-menu-item {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-variant: small-caps;
  color: #ffffff;
  margin: 0 2px;
  padding: 10px 5px;
}

.main-menu-item:hover {
  color: #c54307;
  background-color: #ffffff;
}