* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color-menu: #040463;
  --main-color-content: #e0d978;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
}

.header-container {
  height: 100px;
  justify-content: flex-end;
  background-color: var(--main-color-menu);
}

.main-container {
  display: flex;
  background-color: var(--main-color-content);
  width: 70%;
}

.footer-container {
  height: 100px;
  background-color: var(--main-color-menu);
}

nav {
  height: 100%;
  width: 60%;
}

.main-menu {
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.main-menu-item {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-variant: small-caps;
  color: #ffffff;
  margin: 0 2px;
  padding: 8px 5px;
  transition: .2s linear;
}

.main-menu-item:hover {
  color: #c54307;
  background-color: #ffffff;
  border-radius: 4px;
}

.cv-logo {
  width: 20%;
  color: #c54307;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s linear;
}

.cv-logo:hover {
  color: #ffffff;

}

.cv-letter {
  font-size: 3rem;
  padding: 1px 8px;
  background-color: #e0d978;
  border: 5px solid #d38e18;
  border-radius: 25px;
}

.empty-bar {
  width: 20%;
}

.cv-bar {
  width: 30%;
  background-color: var(--main-color-menu);
}

.section-information {
  width: 70%;
}

.section-header {
  font-size: 2rem;
  font-weight: bold;
  font-variant: small-caps;
  color: #ffffff;
}

.contacts-list {
  list-style: none;
}

ul.contacts-list li {
	list-style-type: none;
	display: flex;
	padding: 5px;
}

.icon-text {
  margin: 0;
	padding: 2px;
  vertical-align: middle;
	display: inline-block;
	color: #ffffff;
	
}

.svg-icon {
  vertical-align: middle;
}

.svg-icon:hover {
  fill: #ffffff;
}

.github-link-container {
  width: 40%;
}

.copy-right-container {
  width: 20%;
}

.rsschool-link-container {
  width: 40%;
}

.flex-hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.github-link {
  text-decoration: none;
  color: #ffffff;
}